.run-index__wrapper {
    margin        : 5px 20px 2px 0;
    padding       : 20px;
    background    : #FFF;
    border        : 1px solid #AAA;
    border-radius : 3px;
    display       : flex;
    gap           : 1rem;
    flex-direction: column;
}

.run-index__status {
    padding: 10px;
    font-size: 1.1rem;
    max-width: max-content;
}
